{% extends 'vdo/main.html' %}
{% load static %}
{% block content %}
   <main>
  <section id="room-name-wrapper">
    <p>
      Room Name: <span id="room-name"></span>
    </p>
  </section>
  <section id="video-streams">
    <div class="video-container" id="user-container-1">
      <div class="username-wrappper">
        <span class="user-name">My Name</span>
      </div>
      <div class="video-player" id="user-1"></div>
    </div>
  </section>
   </main>
   <script type="text/javascript" src="{% static 'js/stream.js' %}">

   </script>
{% endblock %}
